body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	max-width: 1940px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

svg {
	overflow: hidden;
}

:root {
	--current-color: #fc5095;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	@include r(1219) {
		width: 1024px;
	}
	@include r(1023) {
		width: 768px;
		padding: 0 10px;
	}
	@include r(767) {
		width: 640px;
	}
	@include r(639) {
		width: 480px;
	}
	@include r(479) {
		width: 100%;
	}
}

.text-bold {
	font-weight: 700;
}

.text-black {
	font-weight: 900;
}

.text-nowrap {
	white-space: nowrap;
}

.input {
	width: 100%;
	max-width: 100%;
	color: #3b3b3b;
	font-size: 18px;
	line-height: 1;
	font-weight: 300;
	border-radius: 10px;
	background: #ffffff;
	border: 1px solid #d3d3d3;
	padding: 28px 30px;
	transition: .3s;
	&:focus,
	&:hover{
		border-color: #1da7c0;
	}
	&::placeholder {
		font-size: 18px;
		line-height: 1;
	}
}



.button {
	display: inline-block;
	font-size: 26px;
	line-height: 1;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 20px;
	background-color:  var(--current-color);
	padding: 20px 26px;
	cursor: pointer;
	min-height: 80px;
	&:hover {
		color: #ffffff;
	}
}

.label-group {
	label {
		display: flex;
		justify-content: center;
		align-items: center;
		color: #3b3b3b;
		font-size: 24px;
		line-height: 1;
		font-weight: 600;
		max-width: 100%;
		border-radius: 10px;
		background: #ffffff;
		border: 1px solid #d3d3d3;
		padding: 20px;
		cursor: pointer;
		transition: .4s;
		&:before {
			content: '';
			display: inline-block;
			flex: none;
			margin-right: 8px;
			width: 18px;
			height: 40px;
			transition: .3s
		}
		&.man {
			&:before {
				background-image: url('data:image/svg+xml,\
  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="male" class="svg-inline--fa fa-male fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M96 0c35.346 0 64 28.654 64 64s-28.654 64-64 64-64-28.654-64-64S60.654 0 96 0m48 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H48c-26.51 0-48 21.49-48 48v136c0 13.255 10.745 24 24 24h16v136c0 13.255 10.745 24 24 24h64c13.255 0 24-10.745 24-24V352h16c13.255 0 24-10.745 24-24V192c0-26.51-21.49-48-48-48z"></path></svg>');
				background-repeat: no-repeat;
				background-position: center;
			}
			&:hover:before {
				background-image: url('data:image/svg+xml,\
  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="male" class="svg-inline--fa fa-male fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="white" d="M96 0c35.346 0 64 28.654 64 64s-28.654 64-64 64-64-28.654-64-64S60.654 0 96 0m48 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H48c-26.51 0-48 21.49-48 48v136c0 13.255 10.745 24 24 24h16v136c0 13.255 10.745 24 24 24h64c13.255 0 24-10.745 24-24V352h16c13.255 0 24-10.745 24-24V192c0-26.51-21.49-48-48-48z"></path></svg>');
			}
		}
		&.woman {
			&:before {
				background-image: url('data:image/svg+xml,\
  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="female" class="svg-inline--fa fa-female fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M128 0c35.346 0 64 28.654 64 64s-28.654 64-64 64c-35.346 0-64-28.654-64-64S92.654 0 128 0m119.283 354.179l-48-192A24 24 0 0 0 176 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H80a24 24 0 0 0-23.283 18.179l-48 192C4.935 369.305 16.383 384 32 384h56v104c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V384h56c15.591 0 27.071-14.671 23.283-29.821z"></path></svg>');
				background-repeat: no-repeat;
				background-position: center;
			}
			&:hover:before {
				background-image: url('data:image/svg+xml,\
  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="female" class="svg-inline--fa fa-female fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="white" d="M128 0c35.346 0 64 28.654 64 64s-28.654 64-64 64c-35.346 0-64-28.654-64-64S92.654 0 128 0m119.283 354.179l-48-192A24 24 0 0 0 176 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H80a24 24 0 0 0-23.283 18.179l-48 192C4.935 369.305 16.383 384 32 384h56v104c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V384h56c15.591 0 27.071-14.671 23.283-29.821z"></path></svg>');
			}
		}
		&:hover {
			border: 1px solid #d3d3d3;
			background-color: #1da7c0;
			color: #ffffff;
		}
		&.error {
			border-color: #ff0000;
			&:hover {
				border: 1px solid #d3d3d3;
			}
		}
	}
	input {
		display: none;
		&:checked  + label {
			border: 1px solid #d3d3d3;
			background-color: #1da7c0;
			color: #ffffff;
			&.man {
				&:before {
					background-image: url('data:image/svg+xml,\
  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="male" class="svg-inline--fa fa-male fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="white" d="M96 0c35.346 0 64 28.654 64 64s-28.654 64-64 64-64-28.654-64-64S60.654 0 96 0m48 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H48c-26.51 0-48 21.49-48 48v136c0 13.255 10.745 24 24 24h16v136c0 13.255 10.745 24 24 24h64c13.255 0 24-10.745 24-24V352h16c13.255 0 24-10.745 24-24V192c0-26.51-21.49-48-48-48z"></path></svg>');
				}
			}
			&.woman {
				&:before {
					background-image: url('data:image/svg+xml,\
  <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="female" class="svg-inline--fa fa-female fa-w-8" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="white" d="M128 0c35.346 0 64 28.654 64 64s-28.654 64-64 64c-35.346 0-64-28.654-64-64S92.654 0 128 0m119.283 354.179l-48-192A24 24 0 0 0 176 144h-11.36c-22.711 10.443-49.59 10.894-73.28 0H80a24 24 0 0 0-23.283 18.179l-48 192C4.935 369.305 16.383 384 32 384h56v104c0 13.255 10.745 24 24 24h32c13.255 0 24-10.745 24-24V384h56c15.591 0 27.071-14.671 23.283-29.821z"></path></svg>');
				}
			}
		}
	}
}


@media screen and (max-width: 1799px){
	.button {
		min-height: 60px;
	}
}

@media screen and (max-width: 1023px){
	.button {
		min-height: 44px;
	}

	.label-group {
		label {
			font-size: 22px;
			padding: 15px 10px;
			&:before {
				width: 13px;
			}
		}
	}

	.input {
		padding: 20px;
	}

}


@media screen and (max-width: 479px){
	.label-group {
		label {
			font-size: 18px;
			&:before {
				width: 11px;
				margin-right: 5px;
			}
		}
	}
}